<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <div><a href="#" target="_blank" class="positronx">Google Drive File Uploader</a></div>
  <ng-template class="nav-tool-items" #login>
    <button mat-raised-button color="primary" (click)="authService.googleSignIn()">Sign In With
      Google</button>
  </ng-template>
  <span class="nav-tool-items" *ngIf="authService.user$ | async as user;else login">
    <mat-label color="primary" class="p-5">{{user.displayName}}</mat-label>
    <button mat-button (click)="authService.signOut()">Sign Out</button>
  </span>
</mat-toolbar>


<router-outlet></router-outlet>
